<div class="container-fluid">
    <div id="menu" class="row">
        <div class="col-sm">
            <button id="btn-consolicaciones" type="submit" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/ConsolidacionController/getConsolidaciones'">CONSOLIDACIONES</button>
            <button id="btn-celulas" type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/CelulaController/getCelula'">CELULAS</button>
            <button id="btn-encuentros" type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/EncuentroController/getEncuentros'">ENCUENTROS</button>
            <button id="btn-bautismos" type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/BautismoController/getBautismos'">BAUTISMOS</button>
            <button id="btn-kids" type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/KidsController/getKids'">KIDS</button>
            <button id="btn-reportes" type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/metaes/ReporteController/getReportes'">REPORTES</button>
            <button id="btn-reportes" type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='/metaes/LoginController/getLogin'">SALIR</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="consolicaciones" class="row border">
        <div class="col-sm-4 border">
            <div class="card">
                <div class="card-header">DATOS</div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <input id="input-contacto" type="text" class="form-control" [(ngModel)]="searchName" placeholder="Buscar por nombres..">
                <button type="button" class="btn btn-outline-primary btn-sm">+</button>
            </div>
            <table id="myTable-c" class="table table-hover">
                <tbody>
                    <tr *ngFor="let person of people | filter:searchName">
                        <td id={{person.id}} (click)="getStateByid($event)" >{{ person.first_name + " " + person.last_name}}</td>
                        <td>{{ person.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 border">
            <div class="card">
                <div class="card-header">AVANCES</div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <input id="myInput-avances" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar por avance..">
                <button type="button" class="btn btn-outline-primary btn-sm">+</button>
            </div>
            <table id="myTable-c" class="table table-hover">
                <tbody>
                    <tr *ngFor="let st of status ">
                        <td>{{ st }}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <div class="col-sm-4 border">
            <div class="card">
                <div class="card-header">INFORMES</div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <input id="myInput-informes"  type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar por texto..">
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="agregarInforme()">+</button>
            </div>

            <div id="informes-a1" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Hablamos nuevamente y estamos viendo los horarios disponibles para que se integre a una celula</td>
                        </tr>
                        <tr>
                            <td>Lo llame para invitarlo nuevamente al culto, quedamos en econtrarnos en catedral</td>
                        </tr>
                        <tr>
                            <td>Realice el primer llamado, conversamos un tiempo sobre como se sitio en la reunion, esta muy contento</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div id="informes-a2" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Hoy comenzo a asistir a una celula, oramos por el y tuvimos un tiempo en donde nos estamos conociendo mas</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a3" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Viene regularmente al culto</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a4" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Esta semana comenzo la excuela de vida en la mañana</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a5" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Se bautizo el primer miercoles de este mes</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a6" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Finalizo el cuarto modulo de la escuela de vida, participara en la siguiente graduacion</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a7" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Intente contactarlo pero al parecer el numero de telefono fue dado de baja y no ha dejado otro medio de contacto</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="informes-a8" style="display: none">
                <table id="myTable-i" class="table table-hover">
                    <!--
                <thead>
                    <tr class="header">
                        <th>INFORMES</th>
                    </tr>
                </thead>
                -->
                    <tbody>
                        <tr>
                            <td>Hoy visitamos su casa y compartimos la palabra de Dios alli con su familia</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
