.login-form {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #e0e0e0;
    padding: 2em;
    border-radius: 10px;
}

.button-logout{
    display: flex;
    justify-content: right;
    margin-right: 2%;
}

#menu{
    padding: 1% 0 1% 0;
}

