<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<form>
  <div class="form-group row">
    <label for="nombre" class="col-4 col-form-label">Nombre</label> 
    <div class="col-8">
      <input id="nombre" name="nombre" type="text" required="required" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="apellido" class="col-4 col-form-label">Apellido</label> 
    <div class="col-8">
      <input id="apellido" name="apellido" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="telefono" class="col-4 col-form-label">Telefono</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-phone"></i>
          </div>
        </div> 
        <input id="telefono" name="telefono" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="direccion" class="col-4 col-form-label">Direccion</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-building"></i>
          </div>
        </div> 
        <input id="direccion" name="direccion" type="text" class="form-control">
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>